@model paybook.Models.Pay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.money)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.insdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.insdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
